.results-list {
    z-index:10;
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 100px;
    overflow-y: scroll;

}

.search-result {
    padding: 10px 20px;
}

.search-result:hover {
    background-color: #efefef;
}